@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600|Lato:400,300|Pacifico);
@import "reset.css";
@import "common.css";

/*
    file: base.css
    Uses a mobile first design - properties for larger displays are at the bottom.

    Custom Color Key:
    - Primary Purple: rgb(125,20,230)
*/

/* Navigation Bar
// ============================================================================ */

nav {
    width: 100%;
    z-index: 9999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(20, 20, 20);
}

#logo {
    padding: 10px 0;
    font-size: 2em;
    cursor: pointer;
}

#logo span {
    color: rgb(125,20,230)
}

/* Dropdown Menu
// ============================================================================ */

.menu {
    position: relative;
    width: 100%;
    z-index: 10;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#menu-btn
{
    cursor: pointer;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 6px;
}

/* Add sub menu border */
.menu ul {
    background: rgb(20, 20, 20);
}

.menu li {
    line-height: 50px;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

.menu li a {
    height: 100%;
    padding: 0 35px;
    display: block; /* link should match the parent's size */
    font-size: 1.2em;
    text-align:left !important;
}

/* color individual menu buttons */
.menu li:hover {
    background: rgb(125,20,230);
}

/* display sub-menus on hover */
.menu li:hover > ul {
    display: block;
}

/* Mobile specific styling */
@media only screen and (max-width: 899px)
{
    /* Add sub menu border */
    .menu ul { border-left: solid 5px #7d14e6; }

    /* Add spacing to sub menu elements */
    .menu ul li { padding-left: 20px; }

    /* don't show menu by default on mobile */
    .menu { display: none; }
}

/* Desktop specific styling */
@media only screen and (min-device-width: 900px) and (min-width: 900px)
{
    /* Hide mobile menu icon on desktop */
    #menu-btn { display: none; }

    .menu ul {
        position: absolute;
        display: none; /* hide the sub-menu on desktop*/
    }

    nav {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    #logo {
        font-size: 1.8em;
        padding: 0 20px 0 20px;
    }

    /* Force display flex in case menu was hidden or made display: block; by jQuery for mobile */
    .menu {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

/* Sticky Footer
// ============================================================================ */

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer {
    width: 100%;
    padding: 20px 0 20px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    background: rgb(20, 20, 20);
}

footer p {
    margin-top: 6px;
    margin-bottom: 6px;

    font-size: 0.75em;
}
