@import "base.css";

/*
    file: contact.css
    CSS for contact.html

*/

/* most of this page body has black text */
#content * {
    color: black;
}

#content {
    padding: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: cover;
    background: #E0E0E0;
}

#content .left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16vw;
    padding: 0 0 50px 0;
}

#content .left span {
    color: rgb(125, 20, 230);
}


#content .right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#content .right > h1 {
    font-weight: lighter;
    font-size: 2.5em;
    color: rgb(125, 20, 230);
    text-align:right;
}

#contact-methods { margin-top: 50px; }

#contact-methods > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0;
}

#contact-methods > li main {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#contact-methods > li main p {
    margin: 20px 0 0 0;
    text-align: right;
}

#contact-methods > li aside {
    position: relative;
    width: 100px;
}

#contact-methods > li aside img {
    width: 64px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    transition: box-shadow 0.25s, background 0.25s;
    border-radius: 17px;
    padding: 1px;
}

#contact-methods aside a img:hover {
    box-shadow: 2px 2px 2px #717171;
    background: #717171;
}

#email h1 {
    color: #ff3f3f;
    text-align:right;
}

#email-link {
    color: #ff3f3f;
}

#apply h1 {
    color: forestgreen;
    text-align:right;
}

#facebook h1 {
    color: cornflowerblue;
    text-align:right;
}

@media only screen and (min-device-width: 900px) and (min-width: 900px) {
    #content {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0 100px;
    }

    #content .left {
        font-size: 6em;
    }

    #content .left {
        width: 55%;
    }

    #content .right {
        width: 45%;
        padding: 100px 0 0 50px;
    }

    #content .right > h1 {
        padding: 0 0 50px 0;
    }
}

/* Mobile specific styling */
@media only screen and (max-width: 899px)
{
    #content .right > h1 { font-size: 1.7em; }
    #contact-methods { margin-top: 0px; }
    main h1 { font-size: 1.9em; }
    #content .left { display: none; }
    #content .right { margin-top: 10px; }
}
