@import url(https://fonts.googleapis.com/css?family=Roboto|Lato|Pacifico);

/* Page Body
// ============================================================================ */

body {
    align-items: center;
    background-color:#FFF;
}

#external-pages {
  /* Background-image gets set inline per page
  background-image:url(https://placekitten.com/900/900?image=1);
  Well...back in the day that this handled images. That no longer happens.
  */
  left:-100px;
  position:absolute;
  height: calc(100% - 50px); /* sorry :( */
  width:30%;
  box-shadow:0px 2px 20px #AAA;
  min-width:400px;
}

#frontpage {
    top: 14%;
    left:40%;
    height:90%;
    position:fixed;
    color:#AAAAAA;
    font-family:'Open Sans', sans-serif;
    font-size:18px;
    letter-spacing: 0.1225em;
    padding:10px;
}

#opener {
  left:0px;
  right:0px;
  width:100%;
  height:300px;
  background-size:cover;
  position:absolute;
}

.memPhoto {
  width:100px;
  height:100px;
}

.memPhoto-ind {
  width:200px;
  height:200px;
  border-radius:100px;
  border-width:thick;
  border-color:#FFF;
  border-style:solid;
  box-shadow: 0px 2px 5px grey;
}

#title-inf {
  top:250px;
  z-index:10000;
  position:absolute;
  left:0px;
  right:0px;
  width:100%;

}

.emp_position {
    color:#777777;
    font-size:28px;
    font-family:'Open Sans', sans-serif;
}

.emp_position-exp {
    color:#777777;
    font-size:20px;
    font-family:'Open Sans', sans-serif;
}

.ptitle-exp {
    font-family:'Pacifico',cursive;
    color:#8711f5;
    font-size:40px;
    text-shadow:2px 2px 2px #FFCCCC;
    letter-spacing: 0.0625em;
}

.ptitle {
    font-family:'Pacifico',cursive;
    color:#8711f5;
    font-size:60px;
    text-shadow:2px 2px 2px #FFCCCC;
    letter-spacing: 0.0625em;
}

#facebg {
    height:100%;
    top:0px;
    position:absolute;
    left:0px;
    width:36%;

    background-size:cover;

    z-index:-1;
}
