@import "base.css";

/*
    file: project.css
    This is the CSS for all project pages, as they should all follow a similar layout.
*/

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-image {
    flex: 10;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: thin solid black;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    transition: all 0.5s;
}

.header-image:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.project-title {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 0.2em 0;
    text-align: center;
    font-weight: 300;
    font-size: 4.5em;
    color: rgb(125,20,230);
}

.project-description {
    flex: 0;
    padding: 0 0 40px 0;
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Lato', serif;
    color: grey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project-description .smaller {
    font-size: 0.75em;
    font-family: 'Lato', serif;
    color: grey;
    margin-top: 10px;
}

.details-and-developers {
    margin: 0 0 48px 0;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5em;
}

.details-and-developers h3 {
    color: rgb(125,20,230);
    font-weight: normal;
    margin-bottom: 20px;
}

.link {
    align-items: center;
    text-align: center;
    padding: 0 1vw 0 0;
}

.project-link {
    background: #7d14e6;
    padding: 8px 20px;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.27);
    transition: background 0.3s;
    margin: 0px auto 30px auto;
}

/* all the pictures of the developers */
.developers {
    padding: 0 0 0 1vw;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

/* circular avatars */
.developers > img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border: 4px solid rgb(125,20,230);
    background: rgb(125,20,230);
    border-radius: 50%;
}

/* Mobile specific styling */
@media only screen and (max-width: 899px)
{
    .project-title {
        margin-top: 15px;
        font-size: 4em;
    }
    .project-description { font-size: 1.8em; }
}