/* Yeah, my comments are strange here, but only a select few saw when my comments went crazy the first time in pretty much every page.

Ah, youth.

*/

body {
	font-family:'Open Sans', sans-serif;
}

font {
	font-family:'Open Sans', sans-serif;
}

a.dl {
	font-size:22px; 
	color:#568d62;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
}

a.minorlink {
	color:#555555;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
}

a.dl:hover {
	
	color:#FF0000;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
}

#intro {
	top:0px;
	left:0px;
	right:0px;
	bottom:0%;
	height:100%;
	width:100%;
	background-image:url(../img/bg-large.png);
	background-size:100%;
	letter-spacing: 1px;
	position:absolute;
	color:#333333;
}

#mainIntro {
	top:48%;
	width:32%;
	text-align:right;
	right:1%;
	position:absolute;
}

#thisBackgroundKeepingSnowshoesLookingGlassTilesScience {
	top:0px;
	height:11%;
	left:0px;
	right:0px;
	width:100%;
	position:fixed;
	background-image:url(../img/bg-large.png);
	background-size:100%;
	z-index:90015501;
	overflow:hidden;
} 

#divInsideOfDivThatShouldBeRenamed {
	
	top:3%;
	height:4%;
	left:2%;
	right:5%;
	width:100%;
	position:fixed;
	display:table-cell;
	color:White;
	font-size:1.45vw;
	letter-spacing: 5px;
	overflow:hidden;
} 

#about {
	top:100%;
	left:0px;
	right:0px;
	height:90%;
	width:100%;
	background-size:100%;
	letter-spacing: 1px;
	position:absolute;
	color:#111111;
	overflow:hidden;
}

#buildsActual {
	top:189%;
	left:0px;
	right:0px;
	height:89%;
	width:100%;
	background-image:url(../img/NeverEnoughArtisticEffects.png);
	background-size:100%;
	letter-spacing: 1px;
	position:absolute;
	color:#6E6E6E;
	overflow:hidden;
}

#collaborators {
	top:278%;
	left:0px;
	right:0px;
	height:89%;
	width:100%;
	background-size:100%;
	letter-spacing: 1px;
	position:absolute;
	color:#111111;
	overflow:hidden;
}