/* Yeah, my comments are strange here, but only a select few saw when my comments went crazy the first time in pretty much every page.

Ah, youth.

*/

body {
	margin: 0;
	font-family:'Open Sans', sans-serif;
	color: rgb(50, 50, 50);
}

font {
	font-family:'Open Sans', sans-serif;
}

h1  {
	font-size: 1.8em;
	font-weight: 600;
}

p {
	font-size: 1.25em;
	line-height: 1.5;
}

a.dl {
	position: relative;
	font-size: 24px;
	font-weight: 600;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	background: #00BD00;
	padding: 5px 20px;
	border-radius: 5px;
	border-bottom: solid 4px green;
	top: 5px;
}

a.minorlink {
	color:#EEEEEE;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
}

a.dl:hover {
	border-width: 2px;
	margin-top: 2px;
	top: 7px;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
}

.ext-logo {

}

a.minorlink:hover {
	color:#FFAAAA;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
}

#intro {
	height:90%;
	width:100%;
	background-image:url(../img/bg-large.png);
	background-size:cover;
	letter-spacing: 1px;
	color:#333333;
}

#bgimg {
	top:0px;
	left:0px;
	right:0px;
	bottom:30%;
	height:500px;
	z-index:-1;
	position:relative;
}

#mainIntro {
	top:20%;
	width:650px;
	text-align:right;
	right:0%;
	padding: 50px;
	position:absolute;
	background-image:url(../img/20pertrans.png);
	z-index:5000;
	background-repeat:repeat;
	color:#111111;
}

#header {
	top:0px;
	height:70px;
	left:0px;
	right:0px;
	width:100%;
	position:fixed;
	background-color: rgba(103, 129, 175, 0.75);
	z-index:90015501;
	overflow:hidden;
}

#inner {

	top:18px;
	height:50px;
	left:2%;
	right:5%;
	width:100%;
	position:fixed;
	display:table-cell;
	color:White;
	font-size:24px;
}

#inner img{
	background: white;
	border-radius: 35px;
	position: relative;
	top: -11px;
	height: 110%;
}

section.two-col {
	padding: 240px 0px;
}

section.two-col p {
	margin: 0;
}

section.two-col h1 {
	margin-top: 20%;
	margin-bottom: 0.25em;
	font-size: 2.25em;
}

section.two-col:nth-of-type(odd) {
	background-color: #a03e32;
	color: rgb(255, 255, 255);
}

section.two-col:nth-of-type(odd) .inner {
	flex-direction: row-reverse;
}

section.two-col:nth-of-type(odd) .text {
	padding-left: 64px;
}

section.two-col:nth-of-type(even) .text {
	padding-right: 64px;
}

section.two-col .inner {
	display: flex;
	margin: auto;
	max-width: 1200px;
	justify-content: space-between;
}

section.two-col img {
	height: 600px;
	border: solid 8px #eadede;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#about {
	width:100%;
	background-size:100%;
	letter-spacing: 1px;
	background-color: #a03e32;
	padding: 170px 0px 200px 0px;
}

#about p {
	max-width: 1000px;
}

#about .text {
	background: border-box;
	color: white;
}

#about p {
	max-width: 800px;
	text-align: left;
}

#about .widget {
	padding-top: 64px;
}

#buildsActual {
	top:189%;
	left:0px;
	right:0px;
	height:89%;
	width:100%;
	background-image:url(../img/NeverEnoughArtisticEffects.png);
	background-size:100%;
	letter-spacing: 1px;
	position:absolute;
	color:#6E6E6E;
	overflow:hidden;
}

#collaborators {
	top:278%;
	left:0px;
	right:0px;
	height:89%;
	width:100%;
	background-size:100%;
	letter-spacing: 1px;
	position:absolute;
	color:#111111;
	overflow:hidden;
}