@import url(https://fonts.googleapis.com/css?family=Roboto|Lato|Pacifico);

/* Page Body
// ============================================================================ */

body {
    align-items: center;
    background-color:#FFF;
}

#frontpic {
  /* Background-image gets set inline per page
  background-image:url(https://placekitten.com/900/900?image=1);
  */
  left:-100px;
  position:absolute;
  height: calc(100% - 50px); /* sorry :( */
  width:30%;
  box-shadow:0px 2px 20px #AAA;
  min-width:400px;
}

#frontpage {
    top: 14%;
    left:40%;
    height:90%;
    position:fixed;
    color:#AAAAAA;
    font-family:'Open Sans', sans-serif;
    font-size:18px;
    letter-spacing: 0.1225em;
    padding:10px;
}

.emp_position {
    color:#777777;
    font-size:28px;
    font-family:'Open Sans', sans-serif;

}

.ptitle {
    font-family:'Pacifico',cursive;
    color:#8711f5;
    font-size:60px;
    text-shadow:2px 2px 2px #FFCCCC;
    letter-spacing: 0.0625em;

}

#facebg {
    height:100%;
    top:0px;
    position:absolute;
    left:0px;
    width:36%;

    background-size:cover;

    z-index:-1;
}
