@import "base.css";

/*
    file: about.css
    CSS for about.html
*/

#content {
    display: flex;
    flex-direction: column;
}

#about-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.25em 2%;
    height: 5%;
}

#about-links p {
    color: black;
    padding: 0.5em
}

#about-links a {
    color: grey;
    padding: 0.5em
}

#about-links .selected-text {
    color: rgb(125,20,230);
}

#slogan {
    padding: 0.5em 0 1em 2em;
    display: inline-block;
}

#slogan * {
    color: rgb(125,20,230);
}

#brief {
    padding: 1em 1em 1em 2em;
    display: inline-block;
    color: black;
}

#brief * {
    font-family: 'Lato', cursive;
    font-weight: 400;
    color: grey;
}

#background {
    display: flex;
    align-content: center;
    justify-content: right;
    flex: 1;
    height: 300px;
    background: url(../img/lines-purple-city-bg.jpg) repeat bottom left;
    background-size: auto 400px;
}

#background-description {
    width: 20em;
    padding: 2em;
    color: black;
}

#background-description a {
    color: rgb(125,20,230);
}

#page-focus {
    max-width: 1280px;
    margin: 0 auto;
}

.people {
    padding: 0 10% 10% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person {
    width: 120px;
    padding: 1%;
    text-align: center;
    flex-direction: column;
    color: grey;
}

.person img {
    margin-bottom: 1em; /* get the text off the image */
    width: 100%;
    border: 2px solid blue;
    border-radius: 50%;
}

.person .name {
    color: black;
    font-weight: bolder;
    margin-bottom: 0.25em;
}

.person .description {
    color: grey;
}

@media only screen and (min-width: 900px) {
}