/*
    file: common.css
    This is where shared css 'utilities' should go.
*/

.skew {
    transform: skewX(-9deg);
}

.unskew {
    transform: skewX(9deg);
}

.selected {
    background: rgb(125,20,230);
}

/* Image Slider, this is a questionable approach, but also simpler/faster.
// ============================================================================ */

/*
@keyframes transitions {
    0% { left: 0; }
    20% { left: 0; } 25% { left: -100%; }
    45% { left: -100%; } 50% { left: -200%; }
    70% { left: -200%; } 75% { left: -300%; }
    95% { left: -300%; } 100% { left: -400%; }
}

.image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 40px 0;

    overflow: hidden;
    box-shadow: 0 0 30px rgba(200, 200, 255, 0.5);
}

.image-slider figure {
    position: relative;
    width: 500%;
    animation: 30s transitions infinite;
}

.image-slider figure img {
    width: 20%;
    float: left;
}

@media only screen and (min-width: 900px) {
    .image-slider {
        min-width: 500px;
        max-width: 1280px;
        margin:  0 0 80px 0;
    }
}
*/