@import "base.css";

/*
    file: home.css
    CSS for home.html
*/

body {
    overflow-x: hidden;
}

#content {
    width: 100%;
    left: 0;
    background: url("../img/TSOT3.jpg") center;
    background-size: 1920px 100%;
}

#overlay {
    margin: 50px auto;
    padding: 25px;
    width: 75%;
    background: rgba(125,20,230, 0.75);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

#descriptions {
    display: none;
}

#overlay-text h3 {
    padding: 0.4em 0;
}

#overlay-text h4 {
    font-weight: normal;
}

#overlay-text p {
    font-size: medium;
    padding: 2em 0;
    line-height: 1.2;
}

#overlay-text a {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#overlay-text a img {
    width: 40px;
    height: auto;
    margin: 0 0 0 10px;
}

@media only screen and (min-device-width: 900px) and (min-width: 900px) {
    #overlay {
        position: absolute; /* force overlay on top of background image*/
        width: 1200px;
        height: 100%;
        margin: 0;
        padding: 0;
        left: -670px; /* more negative => less overlay shows */
        top: 0;
        background: rgb(125,20,230);
        -webkit-transform: skewX(-9deg);
        -ms-transform: skewX(-9deg);
        transform: skewX(-9deg); /* skew */
        box-shadow: none;
    }

    #overlay-text {
        position: absolute;
        width: 15em;
        top: 15%;
        right: 4%;
        font-size: 2em;
        -webkit-transform: skewX(9deg);
        -ms-transform: skewX(9deg);
        transform: skewX(9deg); /* unskew */
    }
}

@media only screen and (min-device-width: 1400px) and (min-width: 1400px) {
    #descriptions {
        display: block;
        position: absolute; /* force overlay on top of background image*/
        bottom: 0;
        right: -940px; /* this is totally dependant on the overlay's size. */
        font-size: 0; /* remove the annoying 4px space between description containers */
        -webkit-transform: skewX(9deg);
        -ms-transform: skewX(9deg);
        transform: skewX(9deg);
    }

    #game-name {
        display: inline-block;
        font-size: medium;
        background: rgba(0,0,0,0.8);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transform: skewX(-9deg);
        -ms-transform: skewX(-9deg);
        transform: skewX(-9deg);
    }

    #game-name a {
        padding: 15px 30px;
        display: block;
        font-size: 2.00em;
        font-weight: normal;
    }

    #game-name:hover {
        background: rgba(10,10,10,0.8);
    }

    #game-description {
        padding: 15px 30px;
        display: inline-block;
        font-size: medium;
        background: rgb(125,20,230);
        -webkit-transform: skewX(-9deg);
        -ms-transform: skewX(-9deg);
        transform: skewX(-9deg);
    }

    #game-description h1 {
        font-weight: normal; /* lighter */
    }
}
