@import "base.css";

/*
    file: project-page.css
    CSS for projects.html
*/

body {
    background: rgb(50, 50, 50);
}

#content {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content h1 {
    margin: 0 0 2em 0;
}

#tiles {
    width: 70%;
    height: 400px;
    margin: -2.5%;
}

#tiles .tile {
    position: relative;
    width: 45%;
    height: 50%;
    float: left;
    background: red;
    margin: 2.5%;
    background-size: cover !important;
}

.tile .title {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    background: rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;
}

.tile .cover {
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.35);
    height: 100%;
    width: 100%;
}

.tile .cover:hover {
    background: rgba(255, 255, 255, 0);
}