<nav>
	<a id="logo" href="/"> indigo<span>Box</span></a>
	<img src="/img/menu.svg" id="menu-btn">
	<ul class="menu">
		<li id="home" class="selected"><a href="/">Home</a></li>
		<li id="about"><a href="/about">About</a></li>
		<li id="projects"><a href="/projects">Projects</a>
			<ul>
				<li><a href="/snowshoes">Snowshoes</a></li>
				<li><a href="/carpe">Carpe</a></li>
				<li><a href="/scroll-stop">Scroll Stop</a></li>
				<li><a href="/lines">Lines</a></li>
			</ul>
		</li>
		<li id="contact"><a href="/contact">Contact</a></li>
	</ul>
</nav>