<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectSnowshoes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectSnowshoes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ProjectSnowshoes.Properties.Settings>
            <setting name="userimg_path" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="username" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="userimgacc_path" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="woahThereHello" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="notificationapps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="notificationtext" serializeAs="String">
                <value />
            </setting>
            <setting name="nickname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="space_back_path" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="custColor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="loggedIn" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="runTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lock_path" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="whoIsThisCrazyDoge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="fontsOfScience" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="darkerFontsOfScience" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="stayHere" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="youAreTheSpecialOrganization" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>IndigoBox Studios</string>
                        <string>Erfiden</string>
                        <string>Document1204</string>
                        <string>Tech Squared</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="allThePrettyColorsHere" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AliceBlue</string>
                        <string>AntiqueWhite</string>
                        <string>Aqua</string>
                        <string>Aquamarine</string>
                        <string>Azure</string>
                        <string>Beige</string>
                        <string>Bisque</string>
                        <string>Black</string>
                        <string>BlanchedAlmond</string>
                        <string>Blue</string>
                        <string>BlueViolet</string>
                        <string>Brown</string>
                        <string>BurlyWood</string>
                        <string>CadetBlue</string>
                        <string>Chartreuse</string>
                        <string>Chocolate</string>
                        <string>Coral</string>
                        <string>CornflowerBlue</string>
                        <string>Cornsilk</string>
                        <string>Crimson</string>
                        <string>Cyan</string>
                        <string>DarkBlue</string>
                        <string>DarkCyan</string>
                        <string>DarkGoldenrod</string>
                        <string>DarkGray</string>
                        <string>DarkGreen</string>
                        <string>DarkKhaki</string>
                        <string>DarkMagenta</string>
                        <string>DarkOliveGreen</string>
                        <string>DarkOrange</string>
                        <string>DarkOrchid</string>
                        <string>DarkRed</string>
                        <string>DarkSalmon</string>
                        <string>DarkSeaGreen</string>
                        <string>DarkSlateBlue</string>
                        <string>DarkSlateGray</string>
                        <string>DarkTurquoise</string>
                        <string>DarkViolet</string>
                        <string>DeepPink</string>
                        <string>DeepSkyBlue</string>
                        <string>DimGray</string>
                        <string>DodgerBlue</string>
                        <string>Firebrick</string>
                        <string>FloralWhite</string>
                        <string>ForestGreen</string>
                        <string>Fuchsia</string>
                        <string>Gainsboro</string>
                        <string>GhostWhite</string>
                        <string>Gold</string>
                        <string>Goldenrod</string>
                        <string>Gray</string>
                        <string>Green</string>
                        <string>GreenYellow</string>
                        <string>Honeydew</string>
                        <string>HotPink</string>
                        <string>IndianRed</string>
                        <string>Indigo</string>
                        <string>Ivory</string>
                        <string>Khaki</string>
                        <string>Lavender</string>
                        <string>LavenderBlush</string>
                        <string>LawnGreen</string>
                        <string>LemonChiffon</string>
                        <string>LightBlue</string>
                        <string>LightCoral</string>
                        <string>LightCyan</string>
                        <string>LightGoldenrodYellow</string>
                        <string>LightGray</string>
                        <string>LightGreen</string>
                        <string>LightPink</string>
                        <string>LightSalmon</string>
                        <string>LightSeaGreen</string>
                        <string>LightSkyBlue</string>
                        <string>LightSlateGray</string>
                        <string>LightSteelBlue</string>
                        <string>LightYellow</string>
                        <string>Lime</string>
                        <string>LimeGreen</string>
                        <string>Linen</string>
                        <string>Magenta</string>
                        <string>Maroon</string>
                        <string>MediumAquamarine</string>
                        <string>MediumBlue</string>
                        <string>MediumOrchid</string>
                        <string>MediumPurple</string>
                        <string>MediumSeaGreen</string>
                        <string>MediumSlateBlue</string>
                        <string>MediumSpringGreen</string>
                        <string>MediumTurquoise</string>
                        <string>MediumVioletRed</string>
                        <string>MidnightBlue</string>
                        <string>MintCream</string>
                        <string>MistyRose</string>
                        <string>Moccasin</string>
                        <string>NavajoWhite</string>
                        <string>Navy</string>
                        <string>OldLace</string>
                        <string>Olive</string>
                        <string>OliveDrab</string>
                        <string>Orange</string>
                        <string>OrangeRed</string>
                        <string>Orchid</string>
                        <string>PaleGoldenrod</string>
                        <string>PaleGreen</string>
                        <string>PaleTurquoise</string>
                        <string>PaleVioletRed</string>
                        <string>PapayaWhip</string>
                        <string>PeachPuff</string>
                        <string>Peru</string>
                        <string>Pink</string>
                        <string>Plum</string>
                        <string>PowderBlue</string>
                        <string>Purple</string>
                        <string>Red</string>
                        <string>RosyBrown</string>
                        <string>RoyalBlue</string>
                        <string>SaddleBrown</string>
                        <string>Salmon</string>
                        <string>SandyBrown</string>
                        <string>SeaGreen</string>
                        <string>SeaShell</string>
                        <string>Sienna</string>
                        <string>Silver</string>
                        <string>SkyBlue</string>
                        <string>SlateBlue</string>
                        <string>SlateGray</string>
                        <string>Snow</string>
                        <string>SpringGreen</string>
                        <string>SteelBlue</string>
                        <string>Tan</string>
                        <string>Teal</string>
                        <string>Thistle</string>
                        <string>Tomato</string>
                        <string>Turquoise</string>
                        <string>Violet</string>
                        <string>Wheat</string>
                        <string>White</string>
                        <string>WhiteSmoke</string>
                        <string>Yellow</string>
                        <string>YellowGreen</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ProjectSnowshoes.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ProjectSnowshoes.Properties.Settings>
            <setting name="appListIco" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Chrome</string>
                        <string>Word</string>
                        <string>PowerPoint</string>
                        <string>Excel</string>
                        <string>OneNote</string>
                        <string>Spotify</string>
                        <string>Turntable</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="youAreTheSpecial" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Jack Altman</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ProjectSnowshoes.Properties.Settings>
    </applicationSettings>
</configuration>